body{
    margin: 20px;
}

.form input{
    border: 1px solid black;
    width: 99%;
}

input:required{
    border: 1px solid red;
}

.valid {
    color: red;
}

.button {
    background: darkgrey;
}

.button2 {
    background: grey;
    color: white;
}

h1{
    text-decoration: underline;
    text-align: center;
    font-size: 80%;
}

.valid{
    font-size: 25%;
    margin-left: 73%; 
}