* {
    width: 100%;
    box-sizing: border-box;
    font-weight: bold;
}

input, select, button {
    border: 1px solid #999;
}


input:focus, select:focus, button:focus {
    outline: none;
}
  
.container {
    width: 80%;
    margin: 10vw;
    position: relative;
}
  
.label {
    display: block;
}
  
h1 {
    width: 100%;
    text-align: center;
    font-weight: bold;
}   

#input-error {
    visibility: hidden;
    position: absolute;
    bottom: -2vw;
    right: -53vw;
}
  
input[type="text"]:not(:placeholder-shown):invalid {
    border: 1px solid red;
}
  
input[type="text"]:not(:placeholder-shown):invalid + #input-error {
    visibility: visible;
    color: red;
    font-size: 2vw;
    line-height: 1vw;
}

.checkbox-input input[type="checkbox"] {
    display: none;
}
  
.checkbox-input div {
    display: inline;
    margin-right: 2vw;
}
  
.checkbox-input div label {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url(sprites/form-elements-sprite.png) no-repeat 13% 50%;
    background-size: 100vw;
}
  
.checkbox-input input:checked + label {
    background: url(sprites/form-elements-sprite.png) no-repeat 30% 50%;
    background-size: 75vw;
}
  
.radio-input input[type="radio"] {
    display: none;
}
  
.radio-input div {
    display: inline;
    margin-right: 2vw;
}
  
.radio-input div label {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(sprites/form-elements-sprite.png) no-repeat 45% 50%;
    background-size: 95vw;
}
  
.radio-input input:checked + label {
    background: url(sprites/form-elements-sprite.png) no-repeat 62.5% 50%;
    background-size: 125vw;
}
  
.button-input button {
    display: inline-block;
    width: 25%;
    border: 0;
    border-style: solid;
}
  
.button-input #button-one {
    background-color: #999;
    color: #ddd;
}
  
.button-input #button-two {
    background-color: #333;
    color: #ddd;
}